.bookShelf{
  max-height: 2341px;
  max-width: 1172px;
  /*background-color: green;*/
}


.shelfBooks{
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  flex-flow: row wrap;
}




.bookShelfContent{
  display: flex;
  width: 960px;
  height: 2272px;
  /* background-color: green; */

}


.leftColumn{
  width: 190px;
  height: 1072px;
  /* background-color: blue; */
}



.rightColumn{
  width: 750px;
  height: 2155px;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
}

.bookShelfContentContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*height: 1100px;
  width: 500px;*/
  /* background-color: yellow; */
}



.bs-header{
  width: 960px;
  height: 35px;
  /* background-color: red; */
}

.bookShelf-header-list, .bookShelf-book-list{
  display: flex;
  flex-direction: row;
}

.bookShelf-book-list{
  /* background-color: blue; */
}

.shelfBooks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.bookShelf-book-list > li > h2 {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-end; */
  color: #382110;
  font-weight: bold;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}




.bookShelf-header-list > li > h2, .bookShelf-header-list > li > date > span {
      color: #382110;
      font-weight: bold;
      /* text-align: left; */
      font-size: 12px;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
}




.bookShelf-book-list > li {
  height: 100%;
  display: flex;
  align-items: flex-end;
}


.bookShelf-book-list{
  width: 750px;
  max-height: 80px;
}

/* .bookshelf-cover{
  width: 49px;
  height: 75px;
  background-size: cover;
}
 */


 .bookshelf-cover{
   width: 56px;
   /* width: 49px;
   /*  */
   height: 80px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   /* background-color: yellow; */
 }


.bs-cover{
  width: 56px;
  height: 51px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-color: yellow; */
  /* font-size: 12px; */
}


.bs-title{
  width: 187px;
  height: 80px;
  text-align: left;
  margin-left: 10px;
  /* background-color: red; */
}

.bs-author{
  width: 101px;
  height: 80px;
  text-align: left;
  margin-left: 10px;
  /* background-color: red; */
}


.bs-avg-rating{
  width: 70px;
  /* height: 32.22px; */
  height: 80px;
  text-align: left;
  /* background-color: blue; */
}


.bs-rating{
  width: 100px;
  height: 80px;
  text-align: left;
  /* margin-bottom: 10px; */
}




.bs-shelves{
  width: 82px;
  height: 80px;
  text-align: left;
  /* background-color: red; */

}

.bs-date-added{
  width: 32.88px;
  height: 51px;
  text-align: left;
  color: red;
}


.bs-date-added{
  width: 90px;
  height: 51px;
  text-align: left;
  color: red;
}




.bookShelf-date{
  width: 90px;
  height: 80px;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  text-align: left;
  /* margin-top: 60px; */
  /* align-self: flex-end; */
  /* background-color: red; */
}


.bookshelf-date-container{
  /* margin-top: 20px; */
  display: flex;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* height: 51px; */

}


.bookshelf-date-container > li {
  height: 51px;
}



.bookShelf-date{
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-weight: bold;
  /* background-color: yellow; */
}

.bs-star{
  height: 80px;
  /* background-color: green; */
  display: flex;
  align-items: flex-end;
  margin-top: -5px;
}




.bs-stars{
  width: 100px;
  height: 80px;
  display: flex;
  /* background-color: green; */
  justify-content: flex-start;
  /* margin-bottom: 16px; */
}
