

.bookShelfMenu, .bs-add-shelf-label{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 45px;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.bookshelfmenu-header{
  font-size: 20px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  color: #00635d;
  display: flex;
  justify-content: flex-start;
}



.add-shelf-form{
  display: flex;
  flex-direction: column;
}


.add-shelf-form-input{

}


.bs-inner-label{
  display: flex;
  flex-direction: row;
}
