



.bookShelfMenu, .bs-add-shelf-label{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 45px;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.bookshelfmenu-header{
  font-size: 20px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  color: #00635d;
  display: flex;
  justify-content: flex-start;
}

.bookShelfMenu {
  // background-color: red;
  align-items: flex-start;
  margin-top: 5px;
}


.add-shelf-form{
  display: flex;
  flex-direction: column;
}


.add-shelf-form-input{
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 3px;
}

.add-shelf-button:hover{
    color: #00635d;
}




.bs-inner-label{
  display: flex;
  flex-direction: row;
}
