.bsh-cover{
   width: 56px;
}


.bsh-title{
  width: 187px;
  margin-left: 10px;
}


.bsh-author{
  width: 101px;
  margin-left: 10px;
}


.bsh-avg-rating{
  width: 70px;
}


.bsh-rating{
  width: 100px;
}


.bsh-shelves{
    width: 82px;
}

.bsh-date-added{
  width: 32.88px;
}
