.bookShelf{
  max-height: 2341px;
  max-width: 1172px;
  /*background-color: green;*/
}





.bookShelfContent{
  display: flex;
  width: 960px;
  height: 2272px;
  background-color: green;

}


.leftColumn{
  width: 190px;
  height: 1072px;
  background-color: blue;
}



.rightColumn{
  width: 750px;
  height: 2155px;
  background-color: orange;
  display: flex;
  flex-direction: row;
}

.bookShelfContentContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*height: 1100px;
  width: 500px;*/
  background-color: yellow;
}



.bs-header{
  width: 960px;
  height: 35px;
  background-color: red;
}

.bookShelf-header-list{
  display: flex;
  flex-direction: row;
}







.bookShelf-header-list > li > h2{
      color: #382110;
      font-weight: bold;
      /* text-align: left; */
      font-size: 12px;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
}


.bs-cover{
  width: 56px;
  height: 51px;
  text-align: left;
  /* font-size: 12px; */
}


.bs-title{
  width: 187px;
  height: 51px;
  text-align: left;
}

.bs-author{
  width: 101px;
  height: 51px;
  text-align: left;
}


.bs-avg-rating{
  width: 53px;
  /* height: 32.22px; */
  height: 51px;
  text-align: left;
}


.bs-rating{
  width: 97px;
  height: 51px;
  text-align: left;
}

.bs-shelves{
  width: 82px;
  height: 51px;
  text-align: left;

}

.bs-date-added{
  width: 32.88px;
  height: 51px;
  text-align: left;
}
