.AddBookShelfItem{
  min-width: 130px;
  display: flex;
  flex-direction: row;
}


.selector-shelf-name{
  width: 100px;
  border-right: 1px solid black;
}


.book-bs-selector{
  border-width: 1px;
  padding: 6px 0 7px 8px;
  width: 130px;
  margin-left: 15px;
  background: #f2f2f2;
  border-color: #dddddd;
  color: #181818;
  line-height: 100%;
  text-overflow: ellipsis;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-style: solid;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
}
