

.bookShelfMenu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: blue;
  margin-top: 45px;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}
