.header-nav{
  display: flex;
  // justify-content: space-between;
  margin: 0 auto;
  min-width: 780px;
  width: 100%;
  height: 50px;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  background-color: rgba(244,241,234,0.5);
}


.logo{
  // display: inline-block;
  width: 140px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 25px;
  background-repeat:no-repeat;
  align-self: center;
  margin-left: 20px;
  margin-top: -5px;
}



.header-list{
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Sign-Out{
  align-self: flex-end;
}


.left-header > li, .Sign-Out{
  display: inline-block;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 50px;
  padding: 0 6px;
}


.left-header > li:hover, .Sign-Out:hover {
  background-color: #382110;
  color: white;
  cursor: pointer;
}
