
.ReviewsContainer{
  background: transparent;
}



.reviewItem{
  max-height: 300px;
  width: 622.5;
  color: grey;
  // border-top: 2px solid black;
  // border-bottom: 2px solid black;
  justify-content: flex-start;
  display: flex;
  background: transparent;
}

.userReviewContent{
  display: flex;
  flex-direction: column;
  // background: blue;
  width: 570px;
  margin-left: 10px;
}


//
.user-picture{
  background: grey;
  width: 55px;
  height: 66px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.user-review-header{
  width: 570px;
  height: 18px;
  // background-color: #8A2BE2;
  display: flex;
  justify-content: space-between;
  // justify-content: flex-start;
  flex-direction: row;
}


// .dateItem{
//   width: 200px;
//   background-color: yellow;
//   height: 100px;
//   align-self: flex-end;
// }

.review-date{
  align-self: flex-end;
  color: #bbbbbb;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.left-review-header{
  align-self: flex-start;
}




.review-author{
  font-weight: bold;
  color: #00635d;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  word-wrap: break-word;
  text-align: left;
  margin-right: 5px;
  margin-left: 8px;
}


.rated-it{
  font-size: 14.5px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: black;
  text-align: left;
  margin-bottom: 5px;
  margin-bottom: 1.5px;
}

.stars{
  margin-left: 5px;
  color: black;
}


.full_star, .empty_star{
  width: 15px;
  height: 15px;
}

.full_star{
  color: #F76150;
}

.empty_star{
  color: #D6D6D6;
}

.reviewText{
  width: 539.88px;
  max-height: 194px;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 8px;
  font-family: "Merriweather", "Georgia", serif;
  line-height: 21px;
  font-size: 14px;
  color: #181818;
}


.rate-this-book-content{
  display: flex;
  flex-direction: column;
}


.myRating{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .book-show-review-stars{
//   justify-content: center;
//   display: inline;
// }
