.searchResults{
  border-radius: 3px;
  position: relative;
  z-index: 100;
  position: absolute;
  left:0;
  right:0;
  background-color: white;
  width: 313px;
  margin-left: 590px;
  // width is covered in nav-bar
}


.searchResult{
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 313px;
  background-color: white;
  align-items: flex-start;
}

// .searchContent{
//   background-color: green;
//   width: 300px;
// }


.search-Image{
  length: 40px;
  width: 40px;

}


.searchContent{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.searchContent{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
}


.search-title{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 10px;
  margin-top: 2px;
  background-color: red;
}


.search-author{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 10px;
  // background-color: red;
  margin-top: -15px;
}




.search-result-bookTitle {
  width: 280px;
  height: 40px;

}



.searchBox{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 50px;
  padding: 0 6px;
  height: 30px;
  border-radius: 3px;
  // background-color: red;
  border: #DCD6CC 1px solid;
  position: relative;
}

// .searchBox, .searchResults, .searchResult, .searchImage{
//   width: 300px;
//   margin-left: 200px;
// }


.searchBox {
  width: 300px;
  margin-left: 200px;
}
