.searchResults{
  border-radius: 3px;
  position: relative;
  z-index: 100;
  position: absolute;
  left:0;
  right:0;
  // width is covered in nav-bar
}


.searchResult{
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}


.searchImage{
  length: 40px;
  width: 40px;

}


.searchContent{
  display: flex;
  flex-direction: column;
}

.searchContent{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
}
