





.bookContent{
  display: flex;
  width: 625px;
  max-height: 350px;
  margin-left: 15px;
}


.bookContainer{
  margin-top: 0px;
  max-height: 7459px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // display: flex;
  // justify-content: center;
}



.bookVisuals{
  width: 150px;
  height: 349px;
  margin-top: 3px;
  // background-color: red;
  display: flex;
  flex-direction: column;
  // margin-right: 20px;
}

.currentlyReading{
  height: 28px;
  width: 142px;
  color: grey;
  display: flex;
  justify-content: center;
}

.rate-this-book, .delete-this-book{
  background: transparent;
  font-size: 11px;
  height: 16px;
  line-height: 14px;
  color: #999999;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
  margin-top: 10px;
  // background: blue;
}

.delete-this-book:hover{
  cursor:pointer;
  color: #A52A2A;
}





.reading-info{
max-height: 260px;
}


//there needs to be some break between the 2 boxes

.bookText{
  width: 455px;
  max-height: 260px;
  margin-left: 10px;
  display: flex;
  // align-content: flex-start;
  // background-color: blue;
}

.cover{
  width: 150px;
  height: 229px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: yellow;
  margin-bottom: 10px;
}

.book-show-review-stars{
  background: transparent;
  display: flex;
  align-items: flex-start;
  margin-top: -5px;
}




.title, .submitReview{
  color: #333333;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 120%;
  font-weight: bold;
  line-height: 1.3;
  width: 455px;
  max-height: 54px;
}


.authorInfo{
  display: flex;
  font-size: 12px;
  line-height: 150%;
  font-family: "Merriweather", "Georgia", serif;
  align-items: center;
}

.by{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 13px;
  color: #000;
  // margin-right: 3px;
}

.author{
  color: #333;
  font-size: 110%;
  margin-left: 3px;
}

.ratingInfo{
  height: 19.8px;
  width: 455px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.average-rating-span{
  // margin-top: 3px;
  margin-left: 3px;
  align-self: center;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  color: #181818;
}






.space-1{
  height: 20px;
  // line-height: 30px;
}


.space-2{
  height: 30px;
  // line-height: 30px;
}


.bold{
  font-weight: bold;
  font-family: "Merriweather", "Georgia", serif;
}


.description{
  height: 163.2px;
  width: 453.8px;
  align-self: flex-end;
  line-height: 21px;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 15px;
  line-height: 21px;
  height: 17.6px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}


.reviews{
  // background-color: #A52A2A;
  width: 625px;
  max-height: 7459px;
  margin-top: 10px;
  margin-left: 15px;
  color: white;
}

.brownBackground{
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 0;
  width: auto;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  width: 625px;
  max-height: 29px;
  border-bottom: 1px solid #D8D8D8;
  margin: 4px 7px 4px 0px;
  color: #382110;
  text-align: left;
}

.submitReview{
  margin-top: 10px;
  align-self: center;
  font-size: 14px;
  width: 100px;
  color: #00635d;
}


.submitReview:hover{
  text-decoration: underline;
}



.add-shelves-modal{
  background-color: #BDBDBD;
  max-height: 200px;
  width: 140px;
  margin-left: 15px;
  position: relative;
  z-index: 100;
  border-radius: 3px;
  color: #181818;
}
