* {

  /*background-color: #CD5C5C;*/
  /*background-image: url(https://s.gr-assets.com/assets/home/masthead_background.jpg);*/
}

.landing{
  background-image: url(https://s.gr-assets.com/assets/home/masthead_background.jpg);
  height: 370px;
  display: flex;
  flex-direction: column;
  /*align-items: flex-end;*/
  justify-content: flex-start;
}



.demoLogin{
  height: 100px;
  width: 100px;
  border-radius: 4px;
  background: #FFD56D;
  align-self: center;
}


.landing-main-lower-half{
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  flex-direction: row;
  /*background-color: red;*/
}




#cta, #cta-espanol{
  justify-content: flex-start;
  font-size: 35px;
  display: inline-block;
  padding: 0;
  color: #58371F;
  height: 50px;
  margin-left: 100px;
  margin-top: -50px;
  width: 280px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}








/*remove background image from eveyrthing */
.name {
  justify-content: flex-start;
}


.header{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 13px;
  width: 100%;
  height: 50px;
  /*border: none;*/
  outline: 0;
  border: 0px solid;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-right: 5px;
}


.BuenosLeidos{
  margin-left: 30px;
  font-size: 20px;
  font-family:  'Roboto Slab', serif;
}


.username, .password{
  width: 120px;
  height: 28px;
  padding: 5px;
  margin: 5px;
  font-size: 13px;
  background-color: white;
}


.l_username, .l_password, .l_name{
  background-color: white;
  display: inline-block;
  text-align: start;
  height: 35px;
  padding: 5px;
  margin: 5px;
}


.signinButton{
    border: none;
    background: #382110;
    color: white;
    display: inline-block;
    border: 1px solid #382110;
    border-radius: 3px;
  font-size: 13px;
  line-height: 1;
  padding: 8px 12px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  margin: 5px;
}

.signinButton:hover{
  background-color: #58371F;
}


h2 {
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}


.l_signUp{
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-right: 75px;
}


.l_signupForm{
  display: flex;
  justify-content: flex-end;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

  /*align-items: flex-end;*/
}



.login{
  display: flex;
  flex-direction: row;
}





.l_signupButton{
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background: #fdd05f;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    display: inline;
    margin: 5px;
    text-align: center;
    /*margin: auto;*/
    align-self: flex-start;
}

.crear-cuenta-button{
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background: #fdd05f;
    font-size: 18px;
    line-height: 22px;
    width: 110px;
    display: inline;
    margin: 5px;
    text-align: center;
    /*margin: auto;*/
    align-self: flex-start;
}









.l_signupButton:hover, .crear-cuenta-button:hover{
  background-color: #FFD56D;
}

.language-button:hover{
  background-color: #FF69B4;
}


.language-button, .language-button-espanol{
  padding: 8px;
  border: 0px;
  border-radius: 4px;
  background: #fdd05f;
  font-size: 18px;
  line-height: 22px;
  width: 85px;
  display: inline;
  margin: 5px;
  height: 50px;
  align-self: center;
  background-color: #00BFFF;
  text-align: center;
  margin-top: -10px;
  /*margin-bottom: 15px;*/
   /*position: absolute;*/


}







.left-lower-half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}






.errors {
  color: red;
}
